:root {
    --baseGreen: rgb(96, 221, 87);
    --baseGreen2: rgb(45, 133, 45);
    --loginButtonHover: rgb(101, 209, 55);
}

.loginForm {
    padding-left: 10vh;
    padding-right: 10vh;
}

.right-side h2 {
    margin-bottom: 2vh;
}

.loginForm input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1vh;
    background: rgba(255, 255, 255, 0.253);
    color: white;
    border: none;
    padding: 5px;
    font-size: larger;
}

.loginForm input:focus {
    outline: solid 2px white;
}

.loginForm input::placeholder {
    color: rgb(233, 255, 226);
}

.loginButton {
    transition: all 0.1s ease-in-out;
    background-color: transparent;
    border: solid 3px white;
    width: fit-content;
    min-width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 3.7px;
    margin-top: 2vh;
}

.loginButton:hover {
    scale: 1.03;
    color: var(--baseGreen);
    background-color: white;
    box-shadow: 5px 5px 15px rgba(87, 117, 79, 0.322);
}

.login-options-div {
    width: 100%;
    text-align: right;
}

.login-options-div div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.login-options-div a:hover {
    cursor: pointer;
}

.loginOptions {
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    border: none;
    display: block;
    text-align: left;
}

.login-register-msg {
    font-size: 1.5vh;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}