:root {
    --baseGreen: rgb(96, 221, 87);
    --baseGreen2: rgb(45, 133, 45);
}

#second-Section {
    text-align: left;
    background-color: var(--baseGreen2);
    color: white;
    font-size: 2vh;
    border-radius: 2vh;
}

#second-Section-Wrapper {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: var(--baseGreen2);
}