.body-root {
    overflow: hidden;
}

.Dashboard-Div {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    margin: 0px;
    padding: 10px;
}

.Dashboard-Containers {
    padding: 0px;
    box-sizing: border-box;

    /***This is the padding around each container - not the padding around the whole dashboard**/
    padding: 5px;
}

.User-Profile-Div {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.UserCard-Container-Div {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.Card-Rows {
    height: 33%;
}

.Card-Cols {
    height: 100%;
}


.Empty-Card {
    height: 100%;
    width: 100%;
}