.body-root {
    overflow-x: hidden;
}

.Dashboard-Div {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    margin: 0px;
    padding: 10px;
}

.Dashboard-Containers {
    padding: 0px;
    box-sizing: border-box;

    /***This is the padding around each container - not the padding around the whole dashboard**/
    padding: 5px;
}

/************* This is the wrapper for the User Info (Left Side)*************/
.User-Profile-Div {
    max-height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

/******* This is the Family Card Section (Right Side)******/
@media all and (max-width: 569px) {
    .UserCard-Container-Div {
        max-height: none;
    }
  }

@media all and (min-width: 570px) {
    .UserCard-Container-Div {
        max-height: 89.5vh;
    }
}

.UserCard-Container-Div {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.Card-Rows {
    height: 33%;
}

.Card-Cols {
    height: 100%;
}


.Empty-Card {
    height: 100%;
    width: 100%;
}


/******** How scrollbar looks ********/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: green;
    background-clip: content-box;
    border: 5px solid transparent;
}

