
/* This part just centers the modal */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/*    ^^^ centering ^^^     */

.modal-body input {
    width: 100%;
}

.Person-Name-Div {
    margin-bottom: 15px;
}

.Person-Name-Div input {
    width: 100%;
    margin: 5px 0px 0px 0px;
}

/************* This is for the second Modal Form **************/

.modal-body-second {
    padding: 5px;
}

.modal-body-second input{
    width: 100%;
}
