:root {
    --baseGreen: rgb(96, 221, 87);
    --baseGreen2: rgb(45, 133, 45);
    --darkHighlight: rgb(13, 65, 20);
    --bodyGreen: rgb(192, 243, 192);
    --white: #ffffff;
  }


/* This part just centers the modal */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    background-color: var(--bodyGreen);
    padding: 5px;
}

/********** Styling for Both Modal Bodies (Go lower for individual bodies) ************/
.modal input {
    border-radius: 5px;

    background-color: transparent;
}

.dateTimePicker {
    overflow: visible;
}

/****** This specific class is just used to mimic the same look as mui's date-time picker******/
.needBorder {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
    padding: 10px;
}

.needBorder:hover:not(:focus) {
    border: 1px solid black;
}

.needBorder:focus {
    outline:1px solid blue;
}

.modal textarea {
    width: 100%;
    border-radius: 5px;
}

/**** This is the Header that says 'Add Messages' or 'Add Member' ****/
.modal-header {
    color: var(--darkHighlight);
    border: none;
    margin-bottom: none;
}

.modal-footer {
    border: none;
}

.btn-primary {
    background-color: var(--baseGreen2);
}

/*    ^^^ centering ^^^     */

.modal-body input {
    width: 100%;
    margin-bottom: 5px;
}

.modal-body input[type="radio"]{
    width: auto;
}

.radioHeading {
    margin-top: 10px;
}

.modal-body textarea{
    margin: 5px 0px 0px 0px;
}

.msgType {
    display: flex;
    width: 100%;
    gap: 2em;
}

.frequencyDiv {
    display: flex;
    width: 100%;
    gap: 2em;
}

.select-week  input{
    display: none;
}
  
.select-week label {
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 14.2856%;
    height: 100%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}
  
#mon:checked ~ label[for="mon"],
#tue:checked ~ label[for="tue"],
#wed:checked ~ label[for="wed"],
#thu:checked ~ label[for="thu"],
#fri:checked ~ label[for="fri"],
#sat:checked ~ label[for="sat"],
#sun:checked ~ label[for="sun"] {
    background: var(--baseGreen2);
    color: #ffffff;
}


.divider {
    width: 100%;
    height: 2px;
}

.modalWarnings {
    color: red;
    margin-left: 20px;
}
